<h2>Reservations for <%= @date.strftime("%Y-%m-%d") %></h2>

<table>
    <thead>
        <tr>
            <th>Time Slot</th>
            <th>Reservation Status</th>
        </tr>
    </thead>
    <tbody>
        <% @time_slots.each do |slot| %>
            <tr>
                <td><%= slot %></td>
                <td>
                    <% count = @reservations[slot] || 0 %>
                    <% status = reservation_status_symbol(count) %>
                    <%= status%>
                    <% if status == "⚪︎" || status == "△" %>
                        <%= button_to "予約へ", new_reservation_path(date: @date, time_slot: slot), method: :get %>
                    <% end %>
                    
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
